@model List<BLL.Models.NewsPaperViewModel>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model[0].Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].PublishHouse)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].PrindDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].DateInsert)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaperPublishHous.PublishHouse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrindDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateInsert)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
<input type="button" value="Add news paper" onclick="location.href='@Url.Action("Create")'" />